* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 
html {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
 
body {
    max-width: 550px;
    margin: auto;
    text-align: center;
    background-color: #eeeeee;
}
 
h1 {
    color: #b83f45;
    font-size: 80px;
    font-weight: lighter;  
    margin-top: 25px;
    margin-bottom: 30px;
}
 
.input-container {
    /* width: 100%; */
    position: relative;
}

 
.checklist{
    width: 100%;       
}
 
.checklist li {
    border-top: 1px solid rgb(224, 222, 225);  
    background-color: white;
    padding: 15px;
    font-size: 20px;
    list-style-type: none;
    display: flex;
    position: relative; 
}

.checklist li:focus-within{
    outline: none;
    border:1px solid#cf7d7d;

}

.li-checkbox:checked + .text {
    color: #949494;
    text-decoration: line-through;
}

.li-checkbox {
    width: 30px;
    height: 30px;
    margin-right: 20px;
    border-radius: 50%; /* Gör checkboxen rund */
    -webkit-appearance: none; /* Nollställ standardstilar för webkit-baserade webbläsare (Chrome, Safari) */
    appearance: none; 
    outline: none; 
    border: 1px solid #363636;
    position: relative;
}

.li-checkbox:checked {
    border: 1px solid #008c00;
}
   
.li-checkbox::before {
    content: "\2713";
    color: #008c00;
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 50%;  
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.2s ease;
}

/* För markerat tillstånd */
.li-checkbox:checked::before {
    opacity: 1;
}

.checklist li .remove-button {
    display: none;
}
.checklist li:hover .remove-button {
    display: grid;
}

.remove-button {
    font-size: 20px;
    margin-left: auto;
    margin-right: 20px; 
    position: absolute;
    bottom:60%;
    left:90%;
    width: 0;
    height: 0;
    color: #949494;
}

.remove-button:hover {
    cursor: pointer;
    border: none;
    color: #cf7d7d;
}

#choose-all {
    width: 0;
    height: 0;
    position: absolute;
    left:35px;
    font-size: 20px;
    margin-top: 30px;
    border: none;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

 
#new-todo {
    width: 100%;
    margin:0;
    position: relative;
    font-size: 20px; 
    padding: 20px 16px 20px 40px;
    box-shadow: 0 -2px 1px #00000008;  
    border:none;
    min-height: 72px; /* Använd min-height istället för height */

}

input::placeholder {
    color:rgba(0, 0, 0, 0.586);
    font-style: italic;
}


#new-todo:focus-visible{
    outline: none;
    border: 1px solid #cf7d7d;
    box-shadow: 0 0 1px 1px #cf7d7d;  
}
 
.stats-container {
    display: none;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    background-color: white;
    border-top: 1px solid rgb(224, 222, 225);
    padding: 20px;
}
 
.filter-list {
    list-style: none;
    display: inline-flex;
    justify-content: left;
}

li button {
    border: none;
    padding:10px;
    width: auto; /* Justera storleken efter behov */
    height: auto; /* Justera storleken efter behov */
    background-color: transparent;
}

li button:hover {
    border:1px solid#cf7d7d;
    border-radius: 4px;
}

#clear-completed-button {
    display: none;
    text-align: right;
    grid-column:3;
}

#all-button, #active-button, #completed-button{
    grid-column:2; 
}
.counter {
    grid-column: 1;
    text-align: left;
}
 
.real-footer {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    margin-top: 50px;
    padding: 20px;
    font-size: 11px;
}