* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 
html {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
 
body {
    max-width: 550px;
    margin: auto;
    text-align: center;
    background-color: #eeeeee;
}
 
h1 {
    color: #b83f45;
    font-size: 80px;
    font-weight: lighter;  
    margin-top: 25px;
    margin-bottom: 30px;
}
 
.input-container {
    position: relative;
}

#new-todo {
    width: 100%;
    margin:0;
    position: relative;
    font-size: 20px; 
    padding: 20px 16px 20px 40px;
    box-shadow: 0 -2px 1px #00000008;  
    border:none;
    min-height: 72px; /* Använd min-height istället för height */
}
input::placeholder {
    color:rgba(0, 0, 0, 0.586);
    font-style: italic;
}
#new-todo:focus-visible{
    outline: none;
    border: 1px solid #cf7d7d;
    box-shadow: 0 0 1px 1px #cf7d7d;  
}
 
.checklist li {
    border-top: 1px solid rgb(224, 222, 225);  
    background-color: white;
    padding: 15px;
    font-size: 20px;
    list-style-type: none;
    display: flex;
    position: relative; 
}
.checklist li:focus-within{
    outline: none;
    border:2px solid#cf7d7d8f;
}

.remove-button {
    font-size: 20px;
    margin-left: auto;
    margin-right: 30px; 
    width: 0;
    height: 0;
    border: none;
    color: #949494;
}
.remove-button:hover {
    cursor: pointer;
    border: none;
    color: #cf7d7d;
    display: grid;
}
.checklist li .remove-button {
    display: none;
}
.checklist li:hover .remove-button {
display: grid;
}

.li-checkbox {
    width: 30px;
    height: 30px;
    margin-right: 20px;
    border-radius: 50%; /* Gör checkboxen rund */
    -webkit-appearance: none; /* Nollställ standardstilar för webkit-baserade webbläsare (Chrome, Safari) */
    appearance: none; 
    outline: none; 
    border: 1px solid #363636;
    position: relative;
}
.li-checkbox::before {
    content: "\2713";
    color: #008c00;
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 50%;  
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.2s ease;
}
.li-checkbox:checked + .text {
    color: #949494;
    text-decoration: line-through;
}
.li-checkbox:checked::before {
    opacity: 1;
}
.li-checkbox:checked {
    border: 1px solid #008c00;
}

#choose-all {
    width: 0;
    height: 0;
    position: absolute;
    left:35px;
    font-size: 20px;
    margin-top: 30px;
    border: none;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

 
.stats-container {
    display: none;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    background-color: white;
    border-top: 1px solid rgb(224, 222, 225);
    padding: 10px;
}

.counter{
    grid-column: 1;
    text-align: left;
    margin-top: 6px;
}

.filter-list {
    grid-column: 2; 
    display: flex;
    align-items: center;
}
.filter-item ,#clear-completed-button{
    border: none;
    background: transparent;
    color: #2c2c2c;
    padding:8px;
}
.filter-item:hover {
    box-shadow: 0 0 2px 2px #cf7d7d;
    outline: none;
}
.filter-item:focus {   
    border: 1px solid #cf7d7d;   
    box-shadow: 0 0 1px 1px #cf7d7d;
    outline: none;
}
.completed-button{
    justify-self: end;
    grid-column: 3;
}
#clear-completed-button{
    display: none;  
} 
 
.real-footer {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    margin-top: 50px;
    padding: 20px;
    font-size: 11px;
}

@media (max-width: 600px) {
    .stats-container {
        grid-template-rows: 2fr;
        align-items: center;
        padding: 5px;
    }

    .stats-container .counter,
    .stats-container .completed-button {
        grid-row: 1; /* Båda ska vara i första kolumnen */
    }

    .stats-container .filter-list {
        grid-row: 2; /* filter-list ska också vara i första kolumnen */
        margin-top: 10px; /* Justera mellanrum mellan .completed-button och .filter-list */
        display: flex;
    }
}


